In [1]:
import pandas as pd 
import numpy as np 
import re

In [71]:
def model(name):
    # Loading the files in dataframe
    df = pd.read_csv('u.data',names=['user_id','item_id','ratings','timestamp'],delimiter='\t')
    movie_name = pd.read_csv('Movie_Id_Titles')
    # data manipulation
    movie_name['title']= movie_name['title'].apply(lambda x: cleaning_data(x))
    df = df.merge(movie_name)
    df.drop(['item_id','timestamp'],axis=1,inplace=True)
    df_rating = pd.DataFrame(df.groupby('title')['ratings'].mean(),columns=['ratings'])
    df_rating['rating_count'] = df.groupby('title')['ratings'].count()
    moviemat = df.pivot_table(index='user_id',columns='title',values='ratings',aggfunc=np.mean)
    
    movie_user_name_rating = moviemat[name]
    similar_to_movie_ratings = moviemat.corrwith(movie_user_name_rating)
    answer = pd.DataFrame(similar_to_movie_ratings,columns=['Correlation'])
    answer = answer.join(df_rating)
    answer = answer[answer['rating_count']>100].sort_values('Correlation',ascending=False).head(6)
    answer = answer.reset_index()
    answer.columns = ['Title','Correlation','Rating','Number of User Ratings']
    answer.drop('Correlation',axis=1,inplace=True)
    return answer.drop([0])

In [9]:
def cleaning_data(x):
    x=x[:-7]
    return x

In [73]:
x=model('Top Gun')
x

/home/abhilash/miniconda3/envs/ml/lib/python3.7/site-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/home/abhilash/miniconda3/envs/ml/lib/python3.7/site-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

           Title    Rating  Number of User Ratings
1   Pretty Woman  3.323171                     164
2        Michael  3.319328                     119
3  Jungle2Jungle  2.439394                     132
4         Eraser  3.150485                     206
5      Firm, The  3.278146                     151

      item_id title
0         NaN   NaN
1         NaN   NaN
2         NaN   NaN
3         NaN   NaN
4         NaN   NaN
...       ...   ...
1677      NaN   NaN
1678      NaN   NaN
1679      NaN   NaN
1680      NaN   NaN
1681      NaN   NaN

[1682 rows x 2 columns]